body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;

    /* Move down content because we have a fixed navbar that is 50px tall */
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
    width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Let the jumbotron breathe */
    .jumbotron {
        margin-top: 20px;
    }
    /* Remove padding from wrapping element since we kick in the grid classes here */
    .body-content {
        padding: 0;
    }
}

.understand-button {
    height: 100px;
}

.understand-comment {
	height: 100px;
}

.comment-row{
	margin-top: 20px;

	}

.title{

	font-family: "Times New Roman", serif;

}

.feedback-row {
	margin-top: 10px;
}

.green-block {
	background-color: green;
	height: 100px;
	margin-left: 20px;
}

.yellow-block {
	background-color: yellow;
	height: 100px;
	margin-left: 20px;
}


.red-block {
	background-color: red;
	height: 100px;
	margin-left: 20px;
}


.timestamp {
	position:absolute;
	left: 300px;
	top: 85px;
}
