body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;

    /* Move down content because we have a fixed navbar that is 50px tall */
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
    width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Let the jumbotron breathe */
    .jumbotron {
        margin-top: 20px;
    }
    /* Remove padding from wrapping element since we kick in the grid classes here */
    .body-content {
        padding: 0;
    }
}

/* Animation transitions */
.scrollin-enter {
    max-height: 1px;
    opacity: 0.01;
    overflow: hidden;
    transition: max-height .5s ease-in, opacity .25s ease-in;
}

.scrollin-enter.scrollin-enter-active {
    max-height: 9999px;
    opacity: 1;
    overflow: auto;
}

.scrollin-leave {
    max-height: 9999px;
    opacity: 1;
    overflow: hidden;
    transition: max-height .5s ease-in, opacity .25s ease-in;
}

.scrollin-leave.scrollin-leave-active {
    max-height: 1px;
    opacity: 0.01;
    overflow: auto;
}


.understand-button {
    height: 100px;
}

.understand-comment {
	height: 100px;
}

.comment-row{
	margin-top: 20px;

	}

.feedback-row {
	margin-top: 10px;
}

.navbar.navbar-default {

     background-color: brown;
}


.navbar.navbar-default .navbar-nav > li > a, .navbar.navbar-default .navbar-brand{
    color:white;
    font-family: "Georgia", serif;
    font-size: 14px;
}

.green-block {
	background-color: #5cb85c;
    border-color: #4cae4c;
	height: 80px;
	margin-left: 20px;
    border-radius: 20px;
}

.yellow-block {
	background-color: #ed9c28;
    border-color: #d58512;
	height: 80px;
	margin-left: 20px;
    border-radius: 20px;
}


.red-block {
	background-color: #d2322d;
    border-color: #ac2925;
	height: 80px;
	margin-left: 20px;
    border-radius: 20px;
}


.timestamp {
	position:static;
	left: 300px;
	top: 60px;
    font-size: 10px;
    float: right;
}

.glyphiconDec{
    font-size:40px;
}

button.btn .glyphicon {
    pointer-events: none;
}

.scrollz{
    height: 80px;
    overflow-y: scroll;
}

.boxder{
    margin-left: 30px;
    border: 3px dotted #55B3FF;
    border-radius: 25px;
}

.spacer{
    margin-bottom: 50px;
}

.spacerProg{
    margin-top:20px;
    margin-bottom: 30px
}

.spacerTime{
    margin-top:20px;
}

.progbar > svg {
    display: block;
    width: 400%;
}
.upvote{
    margin: 0px auto;
    text-align: center;
}

.downvote{
    margin: 0px auto;
}